.block-fpts-second-point ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.block-fpts-second-point li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-align: left;
  width: 150px;
  float: left;
}
.block-fpts-second-point ul li>a {
  text-decoration: none;
  display: block;
  padding-left: 15px;
}
.block-fpts-second-point a:hover {
  background-color: #005f5f;
}
.block-fpts-second-point a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}
.block-fpts-second-point ul li {
  list-style-image: none;
  list-style-type: none;
}
.block-fpts-second-point li.leaf {
  padding-right: 0 !important;
}

/* Sub Menus */
.block-fpts-second-point ul li ul li>a {
  padding-left: 2px;
}
.block-fpts-second-point ul li ul>li {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.block-fpts-second-point ul li ul {
  font-size: 10px;
  border:1px solid;
  display: none;
}

.block-fpts-second-point ul li:hover ul {
  display: block;
}
.block-fpts-second-point ul ul {
  padding: 0 !important;
}
